<%= @user.first_name %>, <%= @user.email %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.first_name%><br>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.shopping_sessions.any? %>
        <h3>Shopping Sessions (<%= @user.shopping_sessions.count %>)</h3>
        <ol class="shopping sessions">
          <%= render @shopping_sessions %>
        </ol>


  </div>
        <div>

          <%= link_to "Add new product", newproduct_path, class: "btn btn-lg btn-primary" %>
        </div>


</div>
    <% end %>