<div class="center jumbotron">

<h1>Listing Market Products</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Adress</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <% @market_products.each do |market_product| %>
      <tr>
        <td><%= number_to_currency(market_product.price, unit:"zł", separator: ",", format: "%n %u") %></td>

        <td><%= market_product.market.adress %></td>

        <td><%= market_product.product.name %></td>


        <td><%= link_to 'Show', market_product %></td>
        <td><%= link_to 'Edit', edit_market_product_path(market_product) %></td>
        <td><%= link_to 'Destroy', market_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market product', new_market_product_path %><br>
  <%= link_to 'back', current_user %>
</div>