<p id="notice"><%= notice %></p>

<p>
  <strong>Adress:</strong>
  <%= @market.adress %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @market.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @market.longitude %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
